<!-- clase del 22/08/22 - introduccion a vue js -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3" defer></script>
    <script src="app04.js" defer></script>
    <link rel="stylesheet" href="style.css">
    <title>Introduccion a Vue.js</title>
</head>
<body>
    <div class="main" id="app">

        <div class="main__tittle">
            <h1>Bienvenido a Vue.js</h1>
        </div>
        <div class="main__persona-data">
            <h2>Inserta los datos</h2>
            <input type="text" v-model="nombre" placeholder="Nombre del usuario">
            <input type="text" v-model="edad" placeholder="Edad del usuario">
            <p>Nombre: {{nombre}}</p>
            <p>Edad: {{edad}}</p>
            <p>{{validarEdad}}</p>
            <p>{{validacionEdad}}</p>
            
        </div>
    </div>

</body>
</html>